<div class="container">
  <div class="row">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://cs5.pikabu.ru/post_img/2015/11/20/5/1448001712_1936543015.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Кошки Ультара</h5>
        <p class="card-text">Кошки добытые, из города в мире Снов, Ультара. Защищают своих владельцев от "непрошенных гостей" организовываясь в неподемиую армию. Умеют прыгать на луну. </p>
        <a href="#" class="btn btn-primary">GET BUY</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://vignette.wikia.nocookie.net/lovecraft/images/7/76/Z_6c4b055c.jpg/revision/latest?cb=20121207144509&path-prefix=ru" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ночные призраки</h5>
        <p class="card-text">Это частично антропоморфные существа ростом от 140 до 180 см и массой от 30 до 50 килограммов. Окраска тела черная, кожа тонкая, гладкая, блестящая.</p>
        <a href="#" class="btn btn-primary">GET BUY</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="http://fb.ru/2BY667x98/d7b17bWiWqQE/vyX06b/RI1OaGt/KWvq?5Jwn9px.vQV=7lOaWX&0jyg8=gfW0&K4Vz=2-&QyE1xZ=hBI6Kx&o2D=44&IY=dCI63&tql=Af-YDJm&nm4A5E=Ib&gU=GK&ZihH=CHHI&rwQ=Axq9&hhBz2B=hkN&oOpbT=sKZ&wEG8ee=3QJ356J&Pg-V=DIxOzK&fKE=X8veh&QU5=4Py3U3W&YJ=REeF&-ELl=ms28&QUSJr=2rQ9A&v6=0QIwXyi&wbGrT=6b2_7&v-Rv=oFPT9SB&DTSv4=NkUPP&BolpBdF=34Pq&QmuwD8=ZEEH-0&QwP=oRxWkfL&xBCno=sd-y6H&QbnkFO=ID9QXP&g6I8EtF=_qvRUJV&Tz=s47cWYw&-T1JE=hovOK&YMfP-J=631&3h=T3XVR&R7nk=0j-kcW&vn6=sVw9NNX&PeuA=EVzJFar&DDpE=ws_pP&J0fM2m-=UKFRe_&QPWV=xBv0&RR=jQBLCCl&AVz=5o-NKU&rc1znM=CQ4FIE&PluAo=dor1oTY&CZ295kl=CdqaU&Ig10jU0=MqvdU&kH=8muB&KiH=rM0&BRT=ZzvY&E3U=kMCc&AlSVfw=ZXLbUC-&JOhOM=GC7ZjH&QSBi=4SZx6&FEU=sf&8KhKA=DOhF&Ky=J_E&zFyCXy=kZJ3oT&6b5=5U5&ugEc=m8&_4Al=2IiQF&LpkaSN=e13Vd&qtzjt=SBp&rtn=Izzk&AFj2WzV=TdzK&1f8r=z0r&y4pQr=y3ZN&REro=NtocciV&6leVb-X=FAXR&RHfg=HSjQcAR&61Jlv=xt&9h0U=6ox9&VA=eQ&bl=KLM&1iAL=RKr3cB&WCZ2y5=IuPMK&mUp=UU1T4o&Pa7U=Tn3ro&s1TuWj=_8iR&dcj=HaBUAqH&BMf=ji&BE3o3_=Qm&qJJ=dhT&NE67TTD=2b&Da=heqle&CFQDTP=WmDSb5&p32cMtY=FMAmK3&WdC7Z=3V&QaJN-84=HYVgE9h&peJh=0zEbQu&dN68=y3FbtB&nuS=x5ZgXgO&93gZmlS=neBZ7AU&zTmR8V=zbRxky&_METEO=g_JV&atSI73=2cW8jV&MWtzJd=IRR&ggz=KjmHKG&PV=n_1&Rba0=ny&HMzaYF=NENpv&KbpfqF=coRg5R&4qMHGeK=MU&7wV=zzMfHJ&TvW=k_Bof&VMiU=DV7&DNef=CryHl&USMTUXn=ytr04n&aSk-=JBdpQ&OF-iVR=LEYiSu&f6h3KH=QTS9m&7Bz=_ntEaz&B_YH=HROf6&Hx916r=5S7&xQ5NMu=R1Ih3R9&fP=yIS&GJArV-i=Y4m9&or=zX1YgB&Ynm=o8yV&AAjG=KZY&ChxI=HDLmz&EU2=49toD&XzLxM7k=-hwUvu&nxH=aKavD&FAHxQI=P4D&ahItMB=Sk&AkvJl=OB5VJI&c0W4aeI=9TB_lt&E45MmXU=RQyB&u6=r0aG&ca=xcIsSzB&EQP=p_-cXD&qm_=JXv0&jl6AV=qew_SBU&k_I=TICn&zRc66=30VWKI&Ast=qGVm&rbAz=qciiH&Q6=xoE&m8fUu=qDBS7l&lGeX=KNQ9BBm&wx=15wzI&7nT7pL=xuc&3RW4hx=Ado&IQ=8zHYM2T&fSY9n=dd&rwT=qbhFrt&GwBxUgG=omuVfy&Nh=FWXL&uSM=E-&bp3gz3=0Mjgr&i-56f=Pmf9H-J&VN=_5J0dQ&Ad=8bcy&sNE=gC_M0L&fvN1O=UYIH&0UA4bqd=yP-9dEI&Vis=Vk&kVjV=W8aEo&IN=6rdok&KyiU=kAqH9&bEPpl=NpK&hW_o1yJ=XTx&v0CVISA=zg7v&wd52=qzcf&1ywAdBt=OV6Y&UAbCax=mER5p&9IH=gvcd&KEHiX=dj3eePN&MHPi-u=-2&5S2p=XITohC&yu=sV&VUcdxTJ=ALzQSNa&YwQ_G=Iwm1bg&w3bex=RvnEgG6&mslk=Wy&Oej=dVEkT&MoQc_xq=97&hwnVFxA=brcx4&cPG=8xku1W&uj8EFJ=aAv&0pTREa=ICak&CFrAuuV=Cd4Ye&8F=kxQ7pG&AcJf=AoR&hlk=IsUhFR8&LkvCMuM=TKU8&-TstM7P=xaXzund&J1vG_K=zQxUegf&ENV4TED=MOtD&Bv8=rfWX1&mGG=Nh&1P2albR=XSaTCs&XLp0=I1&QCavKh=Dy3ZkV&uiMMw1=Myexzm&VjzIP0c=4NAx&PUdR00=F_j&xoJjAp=Bq8&Zf=_Wxy&nBKlCL=VTD19vE&QC9msz=gXW&Ee=gNkA&ljjnj=ghzJ9V&ngLl=DjU&8sv=dIa9SX&2VW=se&dbWP=VB2B&PQJQC=8kFBq&aDljKtM=tI&frMC20=gMXL5&3KMRfFp=lLpGM0&YDZx94=Iu&NO=iu&cbED=5A0F&IoD=zWVLRvv&t_=mU3G9BB&FWST=wAH&8hMhobm=hV935j1&fUi2Ltt=nOn-CQ&Qba=UBOe&QLRgJG=QTau&2UGjT5=pFaBCM&gMGRq=Vz&2x=K1&ofCda=BF1c&09=XHsi8i&d9Mh0y=M5Y&Lau=-9-&XVLqS=DuZ&xhnn3YV=9ns&mtES8Z=C9RD&k3=voR4U3&7RCpz_=rMC0b&iN=xbev2&fz=nGIbun&6D2FOJv=Y1YDE&QMR-VLW=__qdZ&DcIoO1=VAcYb9&6DPRy=D6&5eikoe=RQNZ_L&kZBP=6s&V4IR=6g0&wIpbRZk=HQgPB&NrHH=vyhV&Pf=CTQ&MUAVPy=gepB&Jr8I_kY=2yu&Nv10I1=mIQCnjU&yO-bp9h=HU8&9ftaM=KBr&ikmS=yNcQ&8Kga_x=nlt4Jvm&YZh=B8vI&eY0Yw=2SNGLA&wJMJs=xV9&S5-=V1AhgPP&TQdhj=mYN&9F0Lr=2qZS&B1t=Ik7ztgM&AwadAij=XqPDQ-&tvpTWsC=q7EmM&VfvKPE=1bC-s&xfSQb=LRGG&Ilf=qqvB5Sa&AWyU=knYpR&6EcdGC5=p6hmwee&hZ06KIe=PP-ITLQ&C5wk=lPLLuU&W_gus1u=jE&bW0=SFP&WQbn=Ak4EE&wgklgt=69Kv&wbXa=PBOx3J&lOgc=wj0Xya8&SbNuLGo=PUtK&MHD=ruiXm&KLswVJ=h-&A6Gx=76oTvf&6dV5MYO=S3gs8C&BpJxcHP=ZE5We&ie311R=vQDoaj&hnnG4=p9W02r&kCMQjV=PA0A" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Гончие псы Тиндала</h5>
        <p class="card-text">Говорят, что если человек каким-то образом даст учуять себя этим созданиям, Псы будут следовать за своей жертвой сквозь пространство и время неограниченно долго, пока, не достигнут.</p>
        <a href="#" class="btn btn-primary">GET BUY</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://vignette.wikia.nocookie.net/lovecraft/images/e/e9/%D0%98%D1%82%D0%B0%D0%BA%D0%B2%D0%B0.jpeg/revision/latest?cb=20160618213605&path-prefix=ru" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Итаква</h5>
        <p class="card-text">Один из Древних, изгнанный на дальний Север. Бог туч, северной погоды и ледяного ветра. </p>
        <a href="#" class="btn btn-primary">GET BUY</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="http://fb.ru/2BY667x98/d7b17bWiWqQE/vyX06b/RI1OaGt/KWvq?5Jwn9px.vQV=7lOaWX&0jyg7=gfu3&K4Vz=2-&QyE1xZ=hBI6Kx&o2D=44&IY=dCI63&tql=Af-YDJm&nm4A5E=Ib&gU=GK&ZihH=CHHI&rwQ=Axq9&hhBz2B=hkN&oOpbT=sKZ&wEG8ee=3QJ356J&Pg-V=DIxOzK&fKE=X8veh&QU5=4Py3U3W&YJ=REeF&-ELl=ms28&QUSJr=2rQ9A&v6=0QIwXyi&wbGrT=6b2_7&v-Rv=oFPT9SB&DTSv4=NkUPP&BolpBdF=34Pq&QmuwD8=ZEEH-0&QwP=oRxWkfL&xBCno=sd-y6H&QbnkFO=ID9QXP&g6I8EtF=_qvRUJV&Tz=s47cWYw&-T1JE=hovOK&YMfP-J=631&3h=T3XVR&R7nk=0j-kcW&vn6=sVw9NNX&PeuA=EVzJFar&DDpE=ws_pP&J0fM2m-=UKFRe_&QPWV=xBv0&RR=jQBLCCl&AVz=5o-NKU&rc1znM=CQ4FIE&PluAo=dor1oTY&CZ295kl=CdqaU&Ig10jU0=MqvdU&kH=8muB&KiH=rM0&BRT=ZzvY&E3U=kMCc&AlSVfw=ZXLbUC-&JOhOM=GC7ZjH&QSBi=4SZx6&FEU=sf&8KhKA=DOhF&Ky=J_E&zFyCXy=kZJ3oT&6b5=5U5&ugEc=m8&_4Al=2IiQF&LpkaSN=e13Vd&qtzjt=SBp&rtn=Izzk&AFj2WzV=TdzK&1f8r=z0r&y4pQr=y3ZN&REro=NtocciV&6leVb-X=FAXR&RHfg=HSjQcAR&61Jlv=xt&9h0U=6ox9&VA=eQ&bl=KLM&1iAL=RKr3cB&WCZ2y5=IuPMK&mUp=UU1T4o&Pa7U=Tn3ro&s1TuWj=_8iR&dcj=HaBUAqH&BMf=ji&BE3o3_=Qm&qJJ=dhT&NE67TTD=2b&Da=heqle&CFQDTP=WmDSb5&p32cMtY=FMAmK3&WdC7Z=3V&QaJN-84=HYVgE9h&peJh=0zEbQu&dN68=y3FbtB&nuS=x5ZgXgO&93gZmlS=neBZ7AU&zTmR8V=zbRxky&_METEO=g_JV&atSI73=2cW8jV&MWtzJd=IRR&ggz=KjmHKG&PV=n_1&Rba0=ny&HMzaYF=NENpv&KbpfqF=coRg5R&4qMHGeK=MU&7wV=zzMfHJ&TvW=k_Bof&VMiU=DV7&DNef=CryHl&USMTUXn=ytr04n&aSk-=JBdpQ&OF-iVR=LEYiSu&f6h3KH=QTS9m&7Bz=_ntEaz&B_YH=HROf6&Hx916r=5S7&xQ5NMu=R1Ih3R9&fP=yIS&GJArV-i=Y4m9&or=zX1YgB&Ynm=o8yV&AAjG=KZY&ChxI=HDLmz&EU2=49toD&XzLxM7k=-hwUvu&nxH=aKavD&FAHxQI=P4D&ahItMB=Sk&AkvJl=OB5VJI&c0W4aeI=9TB_lt&E45MmXU=RQyB&u6=r0aG&ca=xcIsSzB&EQP=p_-cXD&qm_=JXv0&jl6AV=qew_SBU&k_I=TICn&zRc66=30VWKI&Ast=qGVm&rbAz=qciiH&Q6=xoE&m8fUu=qDBS7l&lGeX=KNQ9BBm&wx=15wzI&7nT7pL=xuc&3RW4hx=Ado&IQ=8zHYM2T&fSY9n=dd&rwT=qbhFrt&GwBxUgG=omuVfy&Nh=FWXL&uSM=E-&bp3gz3=0Mjgr&i-56f=Pmf9H-J&VN=_5J0dQ&Ad=8bcy&sNE=gC_M0L&fvN1O=UYIH&0UA4bqd=yP-9dEI&Vis=Vk&kVjV=W8aEo&IN=6rdok&KyiU=kAqH9&bEPpl=NpK&hW_o1yJ=XTx&v0CVISA=zg7v&wd52=qzcf&1ywAdBt=OV6Y&UAbCax=mER5p&9IH=gvcd&KEHiX=dj3eePN&MHPi-u=-2&5S2p=XITohC&yu=sV&VUcdxTJ=ALzQSNa&YwQ_G=Iwm1bg&w3bex=RvnEgG6&mslk=Wy&Oej=dVEkT&MoQc_xq=97&hwnVFxA=brcx4&cPG=8xku1W&uj8EFJ=aAv&0pTREa=ICak&CFrAuuV=Cd4Ye&8F=kxQ7pG&AcJf=AoR&hlk=IsUhFR8&LkvCMuM=TKU8&-TstM7P=xaXzund&J1vG_K=zQxUegf&ENV4TED=MOtD&Bv8=rfWX1&mGG=Nh&1P2albR=XSaTCs&XLp0=I1&QCavKh=Dy3ZkV&uiMMw1=Myexzm&VjzIP0c=4NAx&PUdR00=F_j&xoJjAp=Bq8&Zf=_Wxy&nBKlCL=VTD19vE&QC9msz=gXW&Ee=gNkA&ljjnj=ghzJ9V&ngLl=DjU&8sv=dIa9SX&2VW=se&dbWP=VB2B&PQJQC=8kFBq&aDljKtM=tI&frMC20=gMXL5&3KMRfFp=lLpGM0&YDZx94=Iu&NO=iu&cbED=5A0F&IoD=zWVLRvv&t_=mU3G9BB&FWST=wAH&8hMhobm=hV935j1&fUi2Ltt=nOn-CQ&Qba=UBOe&QLRgJG=QTau&2UGjT5=pFaBCM&gMGRq=Vz&2x=K1&ofCda=BF1c&09=XHsi8i&d9Mh0y=M5Y&Lau=-9-&XVLqS=DuZ&xhnn3YV=9ns&mtES8Z=C9RD&k3=voR4U3&7RCpz_=rMC0b&iN=xbev2&fz=nGIbun&6D2FOJv=Y1YDE&QMR-VLW=__qdZ&DcIoO1=VAcYb9&6DPRy=D6&5eikoe=RQNZ_L&kZBP=6s&V4IR=6g0&wIpbRZk=HQgPB&NrHH=vyhV&Pf=CTQ&MUAVPy=gepB&Jr8I_kY=2yu&Nv10I1=mIQCnjU&yO-bp9h=HU8&9ftaM=KBr&ikmS=yNcQ&8Kga_x=nlt4Jvm&YZh=B8vI&eY0Yw=2SNGLA&wJMJs=xV9&S5-=V1AhgPP&TQdhj=mYN&9F0Lr=2qZS&B1t=Ik7ztgM&AwadAij=XqPDQ-&tvpTWsC=q7EmM&VfvKPE=1bC-s&xfSQb=LRGG&Ilf=qqvB5Sa&AWyU=knYpR&6EcdGC5=p6hmwee&hZ06KIe=PP-ITLQ&C5wk=lPLLuU&W_gus1u=jE&bW0=SFP&WQbn=Ak4EE&wgklgt=69Kv&wbXa=PBOx3J&lOgc=wj0Xya8&SbNuLGo=PUtK&MHD=ruiXm&KLswVJ=h-&A6Gx=76oTvf&6dV5MYO=S3gs8C&BpJxcHP=ZE5We&ie311R=vQDoaj&hnnG4=p9W02r&kCMQjV=PA0A" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ктулху</h5>
        <p class="card-text">Он спит на вершине подводного города Рлайх в Тихом океана. Если звёзды расположены благоприятно, Рлайх поднимается над водой, и Ктулху становится свободным.</p>
        <a href="#" class="btn btn-primary">GET BUY</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://vignette.wikia.nocookie.net/lovecraft/images/e/e1/MfLvnp9FEH4.jpg/revision/latest?cb=20160223125500&path-prefix=ru" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Шоггот</h5>
        <p class="card-text">Монстры, представляющие собой многоклеточную протоплазму, способную образовывать нужные временные органы. Во многом подражают своим создателям и хозяевам.</p>
        <a href="#" class="btn btn-primary">GET BUY</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://vignette.wikia.nocookie.net/cthulhusmythology/images/c/cd/Zoog_burrow_for_cthulhu_lcg_by_feliciacano-d3004ci.jpg/revision/latest?cb=20150128210722&path-prefix=ru" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Зуг</h5>
        <p class="card-text">Крохотные коричневые существа, обитающие в зачарованном лесу за вратами Глубокого Сна. Питаются, в основном, древесніми грибами.</p>
        <a href="#" class="btn btn-primary">GET BUY</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://vignette.wikia.nocookie.net/lovecraft/images/e/ed/Call_of_Cthulhu_Mother_Hydra_by_PearlPhoenix.jpg/revision/latest?cb=20120829022853&path-prefix=ru" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Мать Гидра</h5>
        <p class="card-text">Младшее древнее божество. Вместе со своим супругом Дагоном является непосредственным покровителем Глубоководных, которые почтительно именуют их Отец Дагон и Мать Гидра.</p>
        <a href="#" class="btn btn-primary">GET BUY</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://vignette.wikia.nocookie.net/cthulhusmythology/images/5/5e/Mstarbuck_%284%29.jpg/revision/latest?cb=20150128213909&path-prefix=ru" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Шантак</h5>
        <p class="card-text">Огромная лошадиноголовая разумная птица, охраняющая подступы к плато Ленг. троят свои гнезда в высокогорных ущельях на склонах труднодоступных хребтов. </p>
        <a href="#" class="btn btn-primary">GET BUY</a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
