
<div class="section" id="pricing">
  <div class="container">
    <div class="section-title">
      <small>PRICING</small>
      <h3>Upgrade to Pro</h3>
    </div>

    <div class="card-deck">
      <div class="card pricing">
        <div class="card-head">
          <small class="text-primary">PERSONAL</small>
          <span class="price">$14<sub>/m</sub></span>
        </div>
        <ul class="list-group list-group-flush">
          <div class="list-group-item">10 Books</div>
          <div class="list-group-item">5 free subscriptions</div>
          <div class="list-group-item">Basic Support</div>
          <div class="list-group-item"><del>Collaboration</del></div>
          <div class="list-group-item"><del>Communication and meetings</del></div>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-primary btn-lg btn-block">Choose this Plan</a>
        </div>
      </div>
      <div class="card pricing popular">
        <div class="card-head">
          <small class="text-primary">FOR TEAMS</small>
          <span class="price">$29<sub>/m</sub></span>
        </div>
        <ul class="list-group list-group-flush">
          <div class="list-group-item">25 Books</div>
          <div class="list-group-item">100 free subscriptions</div>
          <div class="list-group-item">Priority Support</div>
          <div class="list-group-item">Collaboration</div>
          <div class="list-group-item">Communication and meetings</div>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-primary btn-lg btn-block">Choose this Plan</a>
        </div>
      </div>
      <div class="card pricing">
        <div class="card-head">
          <small class="text-primary">ENTERPRISE</small>
          <span class="price">$249<sub>/m</sub></span>
        </div>
        <ul class="list-group list-group-flush">
          <div class="list-group-item">Unlimited Books</div>
          <div class="list-group-item">Unlimited subscribe</div>
          <div class="list-group-item">Collaboration</div>
          <div class="list-group-item">Communication and meetings</div>
          <div class="list-group-item">Web hooks</div>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-primary btn-lg btn-block">Choose this Plan</a>
        </div>
      </div>
    </div>
  </div>
</div>


