@media (max-width:992px) {
  .card-deck {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .card-deck .card {
    margin-bottom: 15px;
  }
}

.card.pricing {
  border: 1px solid #f1eef1;
}

.card.pricing.popular {
  border-top-width: 3px;
  border-color: #505243 #FFF;
  box-shadow: 0px 12px 59px 0px rgba(36, 7, 31, 0.11);
  color: #aaad8e;
}

.card.pricing .card-head {
  text-align: center;
  padding: 40px 0 20px;
}

.card.pricing .card-head .price {
  display: block;
  font-size: 45px;
  font-weight: 300;
  color: #aaad8e;
}

.card.pricing .card-head .price sub {
  bottom: 0;
  font-size: 55%;
}

.card.pricing .list-group-item {
  border: 0;
  text-align: center;
  color: #959094;
  padding: 1.05rem 1.25rem;
}

.card.pricing .list-group-item del {
  color: #d9d3d8;
}

.card.pricing .card-body {
  padding: 1.75rem;
}
