header {
  padding: 100px 0 0;
  text-align: center;
  color: #FFF;
}

.bg-gradient {
  background-image: -moz-linear-gradient( 135deg, rgba(153, 153, 153, 1) 0%, rgba(43, 41, 41, 1) 100%);
  background-image: -webkit-linear-gradient( 135deg, rgba(153, 153, 153, 1) 0%, rgba(43, 41, 41, 1) 100%);
  background-image: -ms-linear-gradient( 135deg, rgba(153, 153, 153, 1) 0%, rgba(43, 41, 41, 1) 100%);
  background-image: linear-gradient( 135deg, rgba(153, 153, 153, 1) 0%, rgba(43, 41, 41, 1) 100%);
}

.tagline {
  font-size: 23px;
  font-weight: 300;
  color: #B0C4DE;
  max-width: 800px;
  margin: 0 auto;
}

.img-holder {
  height: 0;
  padding-bottom: 33%;
  overflow: hidden;
}

@media (max-width:1200px) {
  .img-holder {
    padding-bottom: 50%;
  }
}

@media (max-width:767px) {
  .tagline {
    font-size: 17px;
  }
  .img-holder {
    padding-bottom: 100%;
  }
}
