<header class="bg-gradient" id="home">
  <div class="container mt-5">
    <h1>Howard Phillips Lovecraft Library</h1>
    <p class="tagline">Never explain anything.</p>
  </div>
  <div class="img-holder mt-3"><img src="assets/kartinki10.png" alt="lovecraft" class="img-fluid"></div>
</header>

<div class="section light-bg" id="features">


  <div class="container">

    <div class="section-title">
      <small>HIGHLIGHTS</small>
      <h3>Features you love</h3>
    </div>


    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="card features">
          <div class="card-body">
            <div class="media">
              <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
              <div class="media-body">
                <h4 class="card-title">Simple</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card features">
          <div class="card-body">
            <div class="media">
              <span class="ti-settings gradient-fill ti-3x mr-3"></span>
              <div class="media-body">
                <h4 class="card-title">Customize</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card features">
          <div class="card-body">
            <div class="media">
              <span class="ti-lock gradient-fill ti-3x mr-3"></span>
              <div class="media-body">
                <h4 class="card-title">Secure</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



</div>
