 <a data-fancybox="gallery" href="assets/HrebtyBezumia.jpg"><img src="assets/HrebtyBezumia.jpg"></a>
 <a data-fancybox="gallery" href="assets/Dagon.jpg"><img src="assets/Dagon.jpg"></a>
 <a data-fancybox="gallery" href="assets/1007064424.jpg"><img src="assets/1007064424.jpg"></a>
 <a data-fancybox="gallery" href="assets/cover1w600.jpg"><img src="assets/cover1w600.jpg"></a>
 <a data-fancybox="gallery" href="assets/Danvich.jpg"><img src="assets/Danvich.jpg"></a>
 <a data-fancybox="gallery" href="assets/kulty.jpg"><img src="assets/kulty.jpg"></a>
 <a data-fancybox="gallery" href="assets/strah.jpg"><img src="assets/strah.jpg"></a>

 <li class="nav-item"><a href="#" class="btn btn-outline-secondary my-3 my-sm-0 ml-lg-3">Order a book</a></li>

 <form>
   <div class="form-group">
     <label for="exampleInput">Email address</label>
     <input type="email" class="form-control" id="exampleInput" aria-describedby="emailHelp" placeholder="Enter email">
     <small id="emailHelp" class="form-text text-muted">Enter your address to send receipts.</small>
   </div>
   <div class="form-group">
     <label for="exampleInput">Enter your name</label>
     <input type="text" class="form-control" id="exampleInput" aria-describedby="emailHelp" placeholder="Enter name">
   </div>
   <div class="form-group">
     <label for="exampleInput">Email your phone</label>
     <input type="text" class="form-control" id="exampleInput" aria-describedby="emailHelp" placeholder="Enter email">
     <small id="Help" class="form-text text-muted">Our operators will contact you.</small>
   </div>
   <div class="form-group">
     <label for="exampleFormControlSelect1">Example book</label>
     <select class="form-control" id="exampleFormControlSelect1">
       <option>Dagon</option>
       <option>Nameless cults</option>
       <option>Ridges of insanity</option>
       <option>The New Lovecraft Circle</option>
       <option>Horrors of Dunwicz</option>
       <option>Hidden fear</option>
     </select>
   </div>
   <div class="form-group form-check">
     <input type="checkbox" class="form-check-input" id="exampleCheck1">
     <label class="form-check-label" for="exampleCheck1">Consent to the processing of personal data</label>
   </div>
   <button type="submit" class="btn btn-primary">Buy</button>
 </form>
