/* body {
  background-image: url("./assets/1426914823665.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #B0C4DE;
}
*/
body {
  font-family: 'Rubik', sans-serif;
  position: relative;
}

a {
  color: #e38cb7;
}

a:hover,
a:focus {
  color: #333332;
}

h1 {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 45px;
  font-weight: 300;
  color: #633991;
  letter-spacing: -1px;
  margin-bottom: 1rem;
}

h3 {
  color: #633991;
  font-size: 33px;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  color: #633991;
}

h5 {
  font-size: 28px;
  font-weight: 300;
  color: #633991;
  margin-bottom: 0.7rem;
}

p {
  color: #959094;
}

p.lead {
  color: #e38cb7;
  margin-bottom: 2rem;
}

.text-primary {
  color: #333332 !important;
}

.light-font {
  font-weight: 300;
}

.btn {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.375rem 1.35rem;
  transition: all 0.3s ease;
}

.btn-outline-light:hover {
  color: #e3e3e3;
}

.btn-primary {
  border-radius: 3px;
  background-image: -moz-linear-gradient( 122deg, #aaad8e 0%, #aaad8e 100%);
  background-image: -webkit-linear-gradient( 122deg, #aaad8e 0%, #aaad8e 100%);
  background-image: -ms-linear-gradient( 122deg,#aaad8e 0%, #aaad8e 100%);
  background-image: linear-gradient( 122deg, #aaad8e 0%, #aaad8e 100%);
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  padding: 0.6rem 2rem;
  border: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  background-image: linear-gradient( 122deg, #505243 0%,#aaad8e 100%);
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
  color: #FFF;
}

.btn-light {
  border-radius: 3px;
  background: #FFF;
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.26);
  font-size: 14px;
  font-weight: 500;
  color: #505243;
  margin: 0.5rem;
  padding: 0.7rem 1.6rem;
  line-height: 1.8;
}

.btn-group-lg>.btn,
.btn-lg {
  padding: 0.8rem 1rem;
  font-size: 15px;
}

.light-bg {
  background-color: #e3e3e3;
}

.section {
  padding: 80px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 3rem;
}

.section-title small {
  color: #30302f;
}

@media (max-width:767px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
}
