.social-icons {
  text-align: right;
}

.social-icons a {
  background-color: #FFF;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  margin: 0 0.3rem;
  border-radius: 5px;
  color: #7d7d79;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  text-decoration: none;
  color: #7d7d79;
}

@media (max-width:991px) {
  .social-icons {
    text-align: center;
    margin-top: 2rem;
  }
}

.call-to-action {
  text-align: center;
  color: #FFF;
  margin: 3rem 0;
}

.call-to-action .box-icon {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  transform: scale(0.85);
  margin-bottom: 2.5rem;
}

.call-to-action h2 {
  color: #FFF;
}

.call-to-action .tagline {
  font-size: 16px;
  font-weight: 300;
  color: #949494;
  max-width: 650px;
  margin: 0 auto;
}

.btn-light img {
  margin-right: 0.4rem;
  vertical-align: text-bottom;
}
