<div class="section pt-0">
  <div class="container">
    <div class="section-title">
      <small>FAQ</small>
      <h3>Frequently Asked Questions</h3>
    </div>

    <div class="row pt-4">
      <div class="col-md-6">
        <h4 class="mb-3">Do you want to see fresh art works?</h4>
        <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. </p>
        <h4 class="mb-3">Do you want to buy a book?</h4>
        <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. </p>

      </div>
      <div class="col-md-6">
        <h4 class="mb-3">Do you want to attend a meeting of fans?</h4>
        <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. </p>
        <h4 class="mb-3">Do you want to help the project?</h4>
        <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. </p>

      </div>
    </div>
  </div>

</div>

<div class="section bg-gradient">
  <div class="container">
    <div class="call-to-action">

      <div class="box-icon"><span class="ti-mobile gradient-fill ti-3x"></span></div>
      <h2>Download Anywhere</h2>
      <p class="tagline">To truly enjoy the calm and unfading beauty is possible only in happy dreams,
        but our world has deprived itself of such an opportunity, in the frenzy of idolatry, gambling a precious gift of childlike purity and innocence.</p>
      <div class="my-4">

        <a href="#" class="btn btn-light"><img src="assets/appleicon.png" alt="icon"> App Store</a>
        <a href="#" class="btn btn-light"><img src="assets/playicon.png" alt="icon"> Google play</a>
      </div>
      <p class="text-primary"><small><i>*Works on iOS 10.0.5+, Android Kitkat and above. </i></small></p>
    </div>
  </div>

</div>

<div class="light-bg py-5" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center text-lg-left">
        <p class="mb-2"> <span class="ti-location-pin mr-2"></span> 1485 Pacific St, Brooklyn, NY 11216 USA</p>
        <div class=" d-block d-sm-inline-block">
          <p class="mb-2">
            <span class="ti-email mr-2"></span> <a class="mr-4" href="lovecraft.com">lovecraft@com</a>
          </p>
        </div>
        <div class="d-block d-sm-inline-block">
          <p class="mb-0">
            <span class="ti-headphone-alt mr-2"></span> <a href="tel:51836362800">518-3636-2800</a>
          </p>
        </div>

      </div>
      <div class="col-lg-6">
        <div class="social-icons">
          <a href="#"><span class="fa fa-facebook"></span></a>
          <a href="#"><span class="fa fa-twitter"></span></a>
          <a href="#"><span class="fa fa-instagram"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="my-5 text-center">
  <p class="mb-2"><small>COPYRIGHT © 2018. ALL RIGHTS RESERVED. HOWARD PHILLIPS LOVECRAFT LIBRARY BY <a href="https://Lovecraft.com">L.LIBRARY</a></small></p>
</footer>
