.nav-menu {
  padding: 1rem 0;
  transition: all 0.3s ease;
}

.nav-menu.is-scrolling,
.nav-menu {
  background-color: rgb(153, 153, 153);
  background: -moz-linear-gradient(135deg, rgb(153, 153, 153) 0%, rgb(43, 41, 41) 100%);
  background: -webkit-linear-gradient(135deg, rgb(153, 153, 153) 0%, rgb(43, 41, 41) 100%);
  background: linear-gradient(135deg, rgb(153, 153, 153) 0%, rgb(43, 41, 41) 100%);
  -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

.nav-menu.is-scrolling {
  padding: 0;
}

.navbar-nav .nav-link {
  position: relative;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 14px;
  }
  .navbar-nav>.nav-item>.nav-link.active:after {
    content: "";
    border-bottom: 2px solid #000000;
    left: 1rem;
    right: 1rem;
    bottom: 5px;
    height: 1px;
    position: absolute;
  }
}

@media (max-width:991px) {
  .navbar-nav.is-scrolling {
    padding-bottom: 1rem;
  }
  .navbar-nav .nav-item {
    text-align: center;
  }
}
