<div class="nav-menu fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-dark navbar-expand-lg">
          <a class="navbar-brand"><img src="assets/Lovecraft_signature.svg" class="img-fluid" alt="logo"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"> <a class="nav-link active" routerLink="/">HOME <span class="sr-only">(current)</span></a> </li>
              <li class="nav-item"> <a class="nav-link" routerLink="/books">BOOKS</a> </li>
              <li class="nav-item"> <a class="nav-link" routerLink="/bestiary">BESTIARY</a> </li>
              <li class="nav-item"> <a class="nav-link" routerLink="/chat">CHAT</a> </li>
              <li class="nav-item"> <a class="nav-link" routerLink="/faq">FAQ</a> </li>
              <li class="nav-item"><a href="#" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Sign in</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
